<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RegisterUserServlet</servlet-name>
		<display-name>RegisterUserServlet</display-name>
		<description></description>
		<servlet-class>com.carlos.controladores.RegisterUserServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveUserServlet</servlet-name>
		<display-name>SaveUserServlet</display-name>
		<description></description>
		<servlet-class>com.carlos.controladores.SaveUserServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowUserServlet</servlet-name>
		<display-name>ShowUserServlet</display-name>
		<description></description>
		<servlet-class>com.carlos.controladores.ShowUserServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUserServlet</servlet-name>
		<url-pattern>/RegisterUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveUserServlet</servlet-name>
		<url-pattern>/SaveUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowUserServlet</servlet-name>
		<url-pattern>/ShowUserServlet</url-pattern>
	</servlet-mapping>

</web-app>
